/* Align */

.align-stretch {
    align-items: stretch;
}

.align-start {
    align-items: start;
}

.align-end {
    align-items: end;
}

.align-center {
    align-items: center;
}

.align-baseline {
    align-items: baseline;
}

/* Align-Self */

.align-self-stretch {
    align-self: stretch;
}

.align-self-start {
    align-self: start;
}

.align-self-end {
    align-self: end;
}

.align-self-center {
    align-self: center;
}

.align-content-end {
    align-content: flex-end;
}

.align-content-start {
    align-content: flex-start;
}

/* Justify */

.justify-start {
    justify-content: flex-start !important;
}
  
.justify-end {
    justify-content: flex-end !important;
}
  
.justify-center {
    justify-content: center !important;
}
  
.justify-between {
    justify-content: space-between !important;
}
  
.justify-around {
    justify-content: space-around !important;
}

.justify-flex-end {
    justify-content: flex-end !important;
}


/* Text Alignment */

.text-start {
    text-align: start;
}

.text-center {
    text-align: center;
}

.text-end {
    text-align: end;
}
