/* Padding */

.pt-half {
    padding-top: 0.5rem;
}

.pt-1 {
    padding-top: 1rem;
}

.pt-2 {
    padding-top: 2rem;
}

.pt-3 {
    padding-top: 4rem;
}

.pt-4 {
    padding-top: 6rem;
}

.pt-5 {
    padding-top: 8rem;
}

.pt-6 {
    padding-top: 10rem;
}

.pb-half {
    padding-bottom: 0.5rem;
}

.pb-1 {
    padding-bottom: 1rem;
}

.pb-2 {
    padding-bottom: 2rem;
}

.pb-3 {
    padding-bottom: 4rem;
}

.pb-4 {
    padding-bottom: 6rem;
}

.pb-5 {
    padding-bottom: 8rem;
}

.pb-6 {
    padding-bottom: 10rem;
}

.ps-half {
    padding-left: 0.5rem;
}

.ps-1 {
    padding-left: 1rem;
}

.ps-2 {
    padding-left: 2rem;
}

.ps-3 {
    padding-left: 4rem;
}

.ps-4 {
    padding-left: 6rem;
}

.ps-5 {
    padding-left: 8rem;
}

.ps-6 {
    padding-left: 10rem;
}

.pe-half {
    padding-right: 0.5rem;
}

.pe-1 {
    padding-right: 1rem;
}

.pe-2 {
    padding-right: 2rem;
}

.pe-3 {
    padding-right: 4rem;
}

.pe-4 {
    padding-right: 6rem;
}

.pe-5 {
    padding-right: 8rem;
}

.pe-6 {
    padding-right: 10rem;
}

.px-half {
    padding: 0rem 0.5rem 0rem;
}

.px-1 {
    padding: 0rem 1rem 0rem;
}

.px-2 {
    padding: 0rem 2rem 0rem;
}

.px-3 {
    padding: 0rem 4rem 0rem;
}

.px-4 {
    padding: 0rem 6rem 0rem;
}

.px-5 {
    padding: 0rem 8rem 0rem;
}

.px-6 {
    padding: 0rem 10rem 0rem;
}

.py-half {
    padding: 0.5rem 0rem 0.5rem;
}

.py-1 {
    padding: 1rem 0rem 1rem;
}

.py-2 {
    padding: 2rem 0rem 2rem;
}

.py-3 {
    padding: 4rem 0rem 4rem;
}

.py-4 {
    padding: 6rem 0rem 6rem;
}

.py-5 {
    padding: 8rem 0rem 8rem;
}

.py-6 {
    padding: 10rem 0rem 10rem;
}


/* Margin */

.mt-half {
    margin-top: 0.5rem;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-3 {
    margin-top: 4rem;
}

.mt-4 {
    margin-top: 6rem;
}

.mt-5 {
    margin-top: 8rem;
}

.mt-6 {
    margin-top: 10rem;
}

.mb-half {
    margin-bottom: 0.5rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-3 {
    margin-bottom: 4rem;
}

.mb-4 {
    margin-bottom: 6rem;
}

.mb-5 {
    margin-bottom: 8rem;
}

.mb-6 {
    margin-bottom: 10rem;
}

.mx-half {
    margin: 0rem 0.5rem 0rem;
}

.mx-1 {
    margin: 0rem 1rem 0rem;
}

.mx-2 {
    margin: 0rem 2rem 0rem;
}

.mx-3 {
    margin: 0rem 4rem 0rem;
}

.mx-4 {
    margin: 0rem 6rem 0rem;
}

.mx-5 {
    margin: 0rem 8rem 0rem;
}

.mx-6 {
    margin: 0rem 10rem 0rem;
}

.my-half {
    margin: 0.5rem 0rem 0.5rem;
}

.my-1 {
    margin: 1rem 0rem 1rem;
}

.my-2 {
    margin: 2rem 0rem 2rem;
}

.my-3 {
    margin: 4rem 0rem 4rem;
}

.my-4 {
    margin: 6rem 0rem 6rem;
}

.my-5 {
    margin: 8rem 0rem 8rem;
}

.my-6 {
    margin: 10rem 0rem 10rem;
}