/*  Display */

.display-flex {
    display: flex;
}

.display-inline-flex {
    display: inline-flex;
}

.fixed {
    position: fixed;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

.sticky {
    position: sticky;
}

.absolute {
    position: absolute;
}

.sticky-top {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  .left {
      left: 0;
  }

  .right {
    right: 0;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.rounded {
    border-radius: 50%;
}