/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins&display=swap');


h {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 10rem;
    margin: 0px 0px 0px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 8rem;
    margin: 0px 0px 0px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 6rem;
    margin: 0px 0px 0px;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 4rem;
    margin: 0px 0px 0px;
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 2rem;
    margin: 0px 0px 0px;
}

h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 1rem;
    margin: 0px 0px 0px;
}

h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 0.5rem;
    margin: 0px 0px 0px;
}

p {
    font-family: 'DM Sans', sans-serif;
    font-weight: 900;
    font-size: 10rem;
    margin: 0px 0px 0px;
}

p1 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 900;
    font-size: 8rem;
    margin: 0px 0px 0px;
}

p2 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 900;
    font-size: 6rem;
    margin: 0px 0px 0px;
}

p3 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 900;
    font-size: 4rem;
    margin: 0px 0px 0px;
}

p4 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 900;
    font-size: 2rem;
    margin: 0px 0px 0px;
}

p5 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 900;
    font-size: 1rem;
    margin: 0px 0px 0px;
}

p6 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 900;
    font-size: 0.5rem;
    margin: 0px 0px 0px;
}

/* Colour */

.grey-one {
    color: #222222
}

.white {
    color: #FFFFFF
}

.bg-grey-one {
    background-color: #222222
}

.bg-white {
    background-color: #FFFFFF
}